<section id="home" class="home">
  <div class="logo">
    <svg viewBox="0 0 478 431.6" xmlns="http://www.w3.org/2000/svg">
            <path class="logo-l1" d="M102 99.8 239 0 0 174v216.7l239 40.8V271.1l-137 22.4z" id="XMLID_11_" />
            <path class="logo-f1" d="M239 102.5V0L102 99.8v193.7l68.5-11.2v-66.5l68.5-22.3v-55.1l-68.5 30.1v-30.7z" id="XMLID_10_" />
            <path class="logo-l2" d="M376 99.8 239 .1l239 174v216.7l-239 40.8V271.2l137 22.4z" id="XMLID_9_" />
            <path class="logo-f2" d="M239 102.6V.1l137 99.7v193.8l-68.5-11.2v-66.6L239 193.5v-55l68.5 30.1v-30.8z" id="XMLID_8_" />
        </svg>
    <span>Luke Fryer<br> Front End Developer</span>
  </div>
  <h1 class="intro-copy">A meticulous web developer from Leeds with a passion for<br><span id="skill-switch">Automation</span></h1></a>
  <ul id="skill-switch-list">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>Responsive Web Design</li>
    <li>Web Standards</li>
    <li>Automation</li>
  </ul>
  TO DO: MERGE CODE AND WORK PAGES AND THEN CREATE A SEPERATE SECTION FOR TIME MANAGEMENT, RESEARCH, HOBBIES? ETC.
</section>