<section class="content more" id="more">
	<h2 class="large-heading">More</h2>
	<header>
		<h3>Time Management</h3>
		<p>For some large projects, I like to manage my time through Google Sheets. These are created whilst I'm providing time estimates (n.B. This is after the initial ball park estimate). This process is beneficial for myself, but also the PM team - as it helps me accurately report back updates on my progress.</p>
	</header>
	<p>here are some recent examples of projects I've provided estimates for:</p>
	<ul>
		<li>
			<a target="_blank" rel="nofollow" href="https://docs.google.com/spreadsheets/d/1W1bm_eXT8XYGvRHyaxgwJAjl9O1Qx5FWB5_aTT6y318/edit?usp=sharing">Zephr Time Estimate</a>
		</li>
		<li>
			<a target="_blank" rel="nofollow" href="https://docs.google.com/spreadsheets/d/1o1oESntnX5D7jduCQGc1lS6ITSRwz3b_BBHSTrovC_U/edit?usp=sharing">Helm Time Estimate</a>
		</li>
	</ul>
	<h3>Research</h3>
	<p>Here's what I've been up to recently:</p>
	<ul>
		<li>Following the Net Ninja Tutorials so that I can <a target="_blank" rel="nofollow" href="https://github.com/lf87/Vue2-Notes">better understand how to use version 2 of VueJS</a>.</li>
		<li>
		<a target="_blank" rel="nofollow" href="https://github.com/lf87/rest-api-vue-cli">Using Vue.js</a> in conjunction with the <a target="_blank" rel="nofollow" href="https://github.com/lf87/restapi">Wordpress Rest-Api</a> to create <a target="_blank" rel="nofollow" href="https://restapi.li1.home-trial.com/">this experimental website</a>.</li>
		<li>
			<a target="_blank" rel="nofollow" href="https://docs.google.com/document/d/1KWhBMvY2DfGvgObERE5X2XXsHFNMdasrxTNk3zgpfdY/edit?usp=sharing">Functional programming with ES6</a>
		</li>
		<li>Experimenting with CSS, and the GSAP library <a target="_blank" rel="nofollow" href="https://codepen.io/Luke87/">on Codepen</a>.</li>
	</ul>
</section>
