<section class="content work"
         id="work">
  <header>
    <h2 class="large-heading">Work</h2>
  </header>
  <h3>Client Work</h3>
  <div class="content-child">
    <h4>Zephyr</h4>
    <span>Creation Date: October 2017</span>
    <p>This is my most Recent Wordpress build</p>
    <span>Source code: 
    <a href="#">Bitbucket link</a></span>
  </div>
  <div class="content-child">
    <h4>Medical Protection Society</h4>
    <span>Creation Date: April 2017</span>
    <p>This was a fun project to work on as it had to support IE8 (only a small bit of a sarcasm!)., It's fully responsive, and as per the client's request - right down to IE8. Hardware accelerated transitions were used for modern browsers, and JS
    was used to detect older versions of IE so that they could gracefully fallback to alternative and supported transitions. GSAP was used for the majority of the animations. The seemingly complex folder structure needed so that it could easily be
    integrated into Sitefinity upon completion.</p>
    <span>Source code: 
    <a href="#">Bitbucket link</a></span>
  </div>
  <div class="content-child">
    <h4>M88</h4>
    <span>Creation Date: June 2016</span>
    <p>These are a series of multilingual landing pages that I built about a year ago, I've made good usage of the GSAP library here, as you'll see from each of the 3 variants. When integrated I converted into PHP so that a feed could be pulled
    through into the results section. This version has been converted back to HTML.</p>
    <span>Source code: 
    <a href="#">Bitbucket link</a></span>
  </div>
  <h3>Workflow</h3>
  <div class="content-child">
    <h4>Gulp Barebones Boilerplate</h4>
    <span>Creation Date: April 2016</span>
    <p>This (in theory) can be used for all project types. But the original intention was for usage with static HTML and Wordpress builds, as that's currently the majority of my work. It includes live HTML/CSS injection, image compression,
    minification, and lots more that helps automate a lot of monotonous tasks.</p>
    <span>Source code: 
    <a href="#">Git link</a></span>
  </div>
  <div class="content-child">
    <h4>Gulp Email Boilerplate</h4>
    <span>Creation Date: March 2017</span>
    <p>Because none of the current email boilerplates and build systems available I tried were suitable for working with PSD to HTML email template creation, I decided to create my own. It's loosely based on the Gulp Barebones Boilerplate, but also
    includes a separate production task that runs a series of other tasks to create a production ready email template. Some of these tasks include inlining of styles, and media query injection</p>
    <span>Source code: 
    <a href="#">Git link</a></span>
  </div>
</section>
