<section class="content work" id="work">
    <header>
        <h2 class="large-heading">Work</h2>
        <p>Here is some of my recent work, which I feel best highlight my abilities accross a range of areas. The majority of
            my workload consists of Wordpress builds, which are custom built using ACF, and are heavily optimised. I have
            a good understanding of the programatical side of Wordpress, and my builds often include custom functionality.</p>
        <p>I've also include a couple of boilerplates that I created for use by myself and colleagues. These helped to improve
            our coding habits and improve productvity.</p>
    </header>
    
        <article class="work-screenshot">
            <div class="work-screenshot-crop">
                <img alt="" src="dist/assets/img/screenshot-taveners.jpg">
            </div>
            <div class="work-screenshot-text">
                <h4>Taveners</h4>
                <span>Wordpress</span>
                <div class="chevron">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="work-description">
                <p>This was built using designs created in Illustrator, and iunvolved a bit of SVG creation and manipulation</p>
                <p>Custom Post Types were used to create the products section.</p>
                <span>
                    <strong>Links:</strong>
                    <a href="http://taveners.co.uk/">Website</a>
                    <a href="#">Code</a>
                </span>
                <button class="work-close">Close</button>
            </div>
        </article>
        <article class="work-screenshot">
            <div class="work-screenshot-crop">
                <img alt="" src="dist/assets/img/screenshot-zephyr.jpg">
            </div>
            <div class="work-screenshot-text">
                <h4>Zephyr Home Loans</h4>
                <span>Wordpress</span>
                <div class="chevron">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="work-description">
                <p>Entire build based off of one Home Page desktop design. Includes a little sprinkle of CSS grid (with a Flexbox
                    fallback).
                </p>
                <p>The site has 2 sections, which required the use of Session storage to correctly set styles.</p>
                <span>
                    <strong>Links:</strong>
                    <a href="#">Website</a>
                    <a href="#">Code</a>
                </span>
                <button class="work-close">Close</button>
            </div>
        </article>
            <article class="work-screenshot">
            <div class="work-screenshot-crop">
                <img alt="" src="dist/assets/img/screenshot-mps.jpg">
            </div>
            <div class="work-screenshot-text">
                <h4>Medical Protection Society</h4>
                <span>GSAP / HTML</span>
                <div class="chevron">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="work-description">
                <p>A fully responsive, IE8 compatible website. Uses hardware accelerated transitions (CSS3 and GSAP)</p>
                <p>Uses graceful fallbacks for older browsers, and was built to function consistently accross all browsers.</p>
                <span>
                    <strong>Links:</strong>
                    <a href="#">Website</a>
                    <a href="#">Code</a>
                </span>
                <button class="work-close">Close</button>
            </div>
        </article>
            <article class="work-screenshot">
            <div class="work-screenshot-crop">
                <img alt="" src="dist/assets/img/screenshot-m88.jpg">
            </div>
            <div class="work-screenshot-text">
                <h4>M88</h4>
                <span>GSAP / HTML</span>
                <div class="chevron">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="work-description">
                <p>A set of of multilingual landing pages that I was able to get creative with by utlising the power of GSAP.
                    Had lots of fun with this!</p>
                <span>
                    <strong>Links:</strong>
                    <a href="#">Website</a>
                    <a href="#">Code</a>
                </span>
                <button class="work-close">Close</button>
            </div>
        </article>
            <article class="work-screenshot">
            <div class="work-screenshot-crop">
                <img alt="" src="dist/assets/img/screenshot-barebones-boilerplate.jpg">
            </div>
            <div class="work-screenshot-text">
                <h4>Barebones Boilerplate</h4>
                <span>Gulp / JavaScript</span>
                <div class="chevron">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="work-description">
                <p>I use for the majority of my projects. It includes live HTML/CSS injection with Browser Sync, image compression,
                    minification, and lots more. It's fully documented, and maintained on a regular basis.</p>
                <span>
                    <strong>Links:</strong>
                    <a href="#">Code</a>
                </span>
                <button class="work-close">Close</button>
            </div>
        </article>
            <article class="work-screenshot">
            <div class="work-screenshot-crop">
                <img alt="" src="dist/assets/img/screenshot-email-boilerplate.jpg">
            </div>
            <div class="work-screenshot-text">
                <h4>Email Boilerplate</h4>
                <span>Gulp / Javascript</span>
                <div class="chevron">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="work-description">
                <p>I created this in order to reduce technical debt amounted from email builds, and also to make building emails
                    fun again!</p>
                <p>SASS is used for styling, and templates are built modularly. A seperate task is run to create a production
                    ready tempalte(s)</p>
                <span>
                    <strong>Link:</strong>
                    <a href="#">Code</a>
                </span>
                <button class="work-close">Close</button>
            </div>
        </article>
    <div i="overlay"></div>
</section>
