<section class="content work"
         id="work">
  <h2 class="large-heading">Work</h2>
  <p>Below are some examples of work which I'm most proud of, and that most relevently show off my skill set.</p>
  <h3>Client Work</h3>
  <p>I've picked 3 examples here, one that I feel best highlights my abilities to build custom WordPress Themes, another to give an example of my ability to build sites which are compatible and consistent in older versions of IE, and finally - one
  that best showcases my abilities with the GSAP library.</p>
  <div class="content-child">
    <h4>Zephyr</h4>
    <span>Creation Date: October 2017</span>
    <p>This is my most Recent Wordpress build. This entire site was based off of one desktop design, so it was a slightly new experience, as we usually have the majority of our designs provided, but it was a challenge I enjoyed. All my Wordpress
    sites are custom built themes, and are as heavily optimised as possible.</p>
    <span>Source code: 
    <a href="#">Bitbucket link</a></span>
  </div>
  <div class="content-child">
    <h4>Medical Protection Society</h4>
    <span>Creation Date: April 2017</span>
    <p>A fully responsive IE8 (IE8 fully responsive too) compatible website, which uses hardware accelerated transitions for modern browsers (CSS and GSAP), gracefully falling back to alternative and supported transitions in older browsers. I tried
    to make absolute minimum comprimise with functionality, so apart from the inherent slower speed of some older browsers, the UX you get in Google Chrome is more or less compltely consistent with IE8. The site was structured in such a way that it
    could be easily integrated in to Sitefinity.</p>
    <span>Source code: 
    <a href="#">Bitbucket link</a></span>
  </div>
  <div class="content-child">
    <h4>M88</h4>
    <span>Creation Date: June 2016</span>
    <p>A set of of multilingual landing pages, that I was able to get creative with, and utlise the power of the GSAP library. had a lot of fun with this!</p>
    <span>Source code: 
    <a href="#">Bitbucket link</a></span>
  </div>
  <h3>Workflow</h3>
  <p>Below are a couple of boilerplates that I created using Gulp and various node modules. These were built with the goal in mind to save time and reduce the pain of having to repeat montonous tasks over and over, by automating as much of it as
  possible.</p>
  <div class="content-child">
    <h4>Gulp Barebones Boilerplate</h4>
    <span>Creation Date: April 2016</span>
    <p>This (in theory) can be used for all project types with a bit of gulpfile manipulation, although it's been structured in such a way that minimal changes should be required. The original intention was for usage with static HTML and Wordpress
    builds. It includes live HTML/CSS injection, image compression, minification, and lots more. It's fully documented, and maintained on a regular basis.</p>
    <span>Source code: 
    <a href="#">Git link</a></span>
  </div>
  <div class="content-child">
    <h4>Gulp Email Boilerplate</h4>
    <span>Creation Date: March 2017</span>
    <p>Because none of the current email boilerplates and build systems available were suitable for working with PSD to HTML email template creation, I decided to create my own. It's loosely based on the Gulp Barebones Boilerplate, but also includes
    a separate production task that runs a series of other tasks to create a production ready email template. Some of these tasks include inlining of styles, and media query injection.</p>
    <span>Source code: 
    <a href="#">Git link</a></span>
  </div>
  <div class="content-child">
    <h3>Other recent builds</h3>
    <p>Link to list of other recent builds and include this website (mention vanilla).<br> 
      TO DO: on mobile make all these in to some sort of overlay on tap
    </p>
  </div>
</section>
