.profile-shot {
    // align-self: flex-end;
    // border-radius: 50%;
    position: relative;
    float: right;
    border: 1px solid $white;
    margin: 0 0 .5rem 1rem;
    width: 98px;
    height: 174px;
    @include bp-xs-hf {
        margin: 0 0 0 2rem;
    }
    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        filter: grayscale(100%);
        will-change: filter, opacity;
        backface-visibility: hidden;
        transition: .5s filter ease, .5s opacity ease;
    }
    &:hover img {
        filter: grayscale(30%);
    }
    &:first-of-type img {
        &:hover {
            opacity: 0;
            filter: grayscale(30%);
        }
    }
}