.work {
    z-index: $z-work;
}

.work-screenshot {
    @include full-width;
    display: block;
    display: flex;
    flex: 1;
    margin-bottom: 2.5rem;
    &.active {
        .work-description {
            transform: scale3d(1, 1, 1);
            opacity: 1;
            pointer-events: unset; // transition: transform .5s $ease-out-back 0, opacity .5s $ease-out-back 0;
            // @include bp-xs {
            //     transform: translate3d(0, 115%, 0);
            // }
        } // .chevron {
        //     transform: rotate3d(0, 0, 1, 90deg);
        // }
    }
    &:hover {
        .work-screenshot-text {
            opacity: 1;
            // mix-blend-mode: normal;
        }
        h4,
        span {
            transform: translate3d(0, 0, 0);
        }
        .chevron div {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }
    .work-screenshot-crop {
        height: 210px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: $z-work-screenshot-crop;
        @include bp-xs {
            height: 330px;
        }
        img {
            display: block;
            backface-visibility: hidden;
            will-change: transition;
            width: 100%;
            position: absolute;
            left: 0;
            transition: opacity .5s $ease-out-cubic;
            will-change: opacity;
            opacity: 1;
            transform: translateY(-50%);
            top: 50%;
            object-fit: cover;
            object-position: 0 0;
            height: 100%;
        }
    } // &:hover {
    //     img {
    //         opacity: .4;
    //     }
    // }
}

.work-description {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: $shark;
    z-index: $z-work-description;
    backface-visibility: hidden;
    will-change: transform, opacity;
    transition: transform .5s $ease-out-back .15s, opacity .5s $ease-out-back .15s;
    transform: scale3d(.4, .4, .4);
    pointer-events: none;
    span {
        position: absolute;
        bottom: 1em;
        left: 1em;
    }
}

.work-screenshot-text {
    cursor: pointer;
    z-index: $z-work-screenshot-text;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    backface-visibility: hidden;
    will-change: transition;
    transition: opacity .6s $ease-out-cubic;
    opacity: 0;
    background-color: rgba($shark, 1);
    // mix-blend-mode: multiply;
    h4,
    span {
        @include font-size(22px);
        position: relative;
        will-change: transform;
        backface-visibility: hidden;
        transition: transform .8s $ease-out-back;
        text-align: center;
    }
    h4 {
        transform: translate3d(270px, 0, 0);
        width: auto;
        margin-bottom: 0;
    }
    span {
        font-weight: 700;
        margin-bottom: 1rem;
        transform: translate3d(-270px, 0, 0);
        color: $white;
    }
}

.chevron {
    width: 18px;
    height: 30px;
    display: block;
    position: relative;
    backface-visibility: hidden;
    will-change: transform;
    transition: transform .25s ease;
    div {
        backface-visibility: hidden;
        will-change: transform;
        transform: scale3d(0, 0, 0);
        position: absolute;
        background-color: $white;
        width: 6px;
        height: 6px;
        &:nth-of-type(1) {
            left: 0;
            top: 0;
            transition: transform .4s $ease-out-back .4s;
        }
        &:nth-of-type(2) {
            left: 6px;
            top: 6px;
            transition: transform .4s $ease-out-back .5s;
        }
        &:nth-of-type(3) {
            left: 12px;
            top: 12px;
            transition: transform .4s $ease-out-back .45s;
        }
        &:nth-of-type(4) {
            left: 6px;
            top: 18px;
            transition: transform .4s $ease-out-back .55s;
        }
        &:nth-of-type(5) {
            left: 0;
            top: 24px;
            transition: transform .4s $ease-out-back .6s;
        }
    }
}

.work-close {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-weight: 700;
    background-color: $punch;
    padding: .5em;
    border: 0;
    color: $shark;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}