.work {
    .content-child {
        padding-bottom: 0;
    }
}

.content-screenshot {
    display: block;
    float: left;
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    margin-bottom: 2.5rem;
    &.active {
        .content-screenshot-crop {
            img {
                opacity: 0;
            }
        }
        .content-description {
            transform: translate3d(0, 90%, 0);
            opacity: 1;
        }
    }
    &.active,
    &:active,
    &:hover {
        .content-screenshot-text {
            opacity: 1;
            mix-blend-mode: normal;
        }
        h4,
        span {
            transform: translate3d(0, 0, 0);
        }
        .chevron div {
            opacity: 1;
            transform: scale3d(1, 1, 1);
        }
    }
    .content-screenshot-crop {
        height: 260px;
        width: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        z-index: 2;
        img {
            display: block;
            backface-visibility: hidden;
            will-change: transition;
            width: 100%;
            position: absolute;
            left: 0;
            transition: opacity .5s $ease-out-cubic;
            will-change: opacity;
            opacity: 1;
            transform: translateY(-50%);
            top: 50%;
            object-fit: cover;
            object-position: 0 0;
            height: 100%;
        }
    }
    &:hover {
        img {
            opacity: .4;
        }
    }
}

.content-description {
    position: absolute;
    opacity: 0;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    padding-top: 10%;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    background-color: $shark;
    z-index: 1; // flex: 1;
    backface-visibility: hidden;
    will-change: transform, opacity;
    transition: transform .5s $ease-out-back, opacity .5s $ease-out-back;
}

.content-description-close {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: .5em;
    background-color: $shark;
    z-index: 5;
}

// CREATE VARIABLES FOR ZINDEX, ANIMATE THE ARROW TO POINT DOWN, FADE OUT PAGE BG ON CLICK, FIX CLOSE BUTTON ISSUE

.content-screenshot-text {
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 45px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    backface-visibility: hidden;
    will-change: transition;
    transition: opacity .6s $ease-out-cubic;
    opacity: 0;
    background-color: rgba($shark, 1);
    mix-blend-mode: multiply;
    h4,
    span {
        @include font-size(29px);
        position: relative;
        will-change: transform;
        backface-visibility: hidden;
        transition: transform .8s $ease-out-back;
    }
    h4 {
        transform: translate3d(270px, 0, 0);
        width: auto;
        margin-bottom: 0;
    }
    span {
        font-weight: 700;
        margin-bottom: 1rem;
        transform: translate3d(-270px, 0, 0);
        color: $white;
    }
}

.chevron {
    width: 18px;
    height: 30px;
    display: block;
    position: relative;
    div {
        // opacity: 0;
        backface-visibility: hidden;
        will-change: transform;
        transform: scale3d(0, 0, 0);
        position: absolute;
        background-color: $white;
        width: 6px;
        height: 6px;
        &:nth-of-type(1) {
            left: 0;
            top: 0;
            transition: transform .4s $ease-out-back .6s;
        }
        &:nth-of-type(2) {
            left: 6px;
            top: 6px;
            transition: transform .4s $ease-out-back .7s;
        }
        &:nth-of-type(3) {
            left: 12px;
            top: 12px;
            transition: transform .4s $ease-out-back .65s;
        }
        &:nth-of-type(4) {
            left: 6px;
            top: 18px;
            transition: transform .4s $ease-out-back .75s;
        }
        &:nth-of-type(5) {
            left: 0;
            top: 24px;
            transition: transform .4s $ease-out-back .8s;
        }
    }
}