$black: #000;
$white: #fff;

/* $trinidad: #e65a00;
$sunglow: #ffd632;
$capecodder: #2a2c2b; */

$punch: #dc3522;
$shark: #1e1e20;
$mineshaft: #252525;
$capecod: #374140;

$zmenuitemreset: 1;
$zheader: 1;
$zmenuitem: 2;

$bgSolidGradient: linear-gradient(to bottom, rgba($mineshaft,.975), rgba($mineshaft,.975) 100%);