$black: #000;
$white: #fff;

/* $trinidad: #e65a00;
$sunglow: #ffd632;
$capecodder: #2a2c2b; */

$punch: #dc3522;
$shark: #1e1e20;
$mineshaft: #252525;
$capecod: #374140;

$zBodyBefore: 1;
$zSectionWithBg: 2;
$zSection: 3;
$zmenuitemreset: 4;
$zheader: 4;
$zmenuitem: 5;

$bgSolidGradient: linear-gradient(to bottom, rgba($mineshaft,.9), rgba($mineshaft,.9) 100%);
